html
  head
    title= 'Login'
    link(
      rel='icon'
      href='/assets/header.png'
      type='image/png'
      )
    link(
      rel='stylesheet'
      href='/assets/session.css'
      type='text/css'
    )
  body
    .body-contents
      .header
        header
          include ../header/header_header
      .contents
        section
          include ./login_contents

  script(
    src='/assets/session.js'
  )
