html
  head
    title= 'Keshari Printing Services'
    link(
      rel='icon'
      href='/assets/header.png'
      type='image/png'
      )
    link(
      rel='stylesheet'
      href='/assets/main.css'
      type='text/css'
    )
    script().
      window.payload={"title": 'My Title'};
  body
    .body-contents
      .promotion-header
        include ./promotion_header.pug
      .header
        header
          include ./header_header
          include ./header_nav
      .contents
        include ./contents.pug
      footer
        include ./footer.pug

  script(
    src='https://fb.me/react-15.2.1.min.js'
  )
  script(
    src='https://fb.me/react-dom-15.2.1.min.js'
  )
  script(
    src='/assets/main.js'
  )
