footer
  .footer-links
    ul
      li.internal-links
        ul
          li
            a(
              href='/contact'
            ) Contact Us
          li
            a(
              href='/'
            ) About Us
      li.company-links
        ul
          li
            a(
              href='#'
            ) What we do
          li
            a(
              href='why-us'
            ) Why Us
          li
            a(
              href='#'
            ) FAQs
      li.legal-info Legal Info
  .copyright Copyright by Keshari
