#footer.footer
  ul.footer-link
    li.internal-links
      ul
        li
          a(
            href='#'
          ) Contact Us
        li
          a(
            href='#'
          ) About Us
    li.company-links
      ul
        li
          a(
            href='#'
          ) What we do
        li
          a(
            href='#'
          ) Why Us
        li
          a(
            href='#'
          ) FAQs
    li.legal-info Legal Info
  .copyright Copyright by Keshari
