.main-header
  .main-header-content
    div(
      class = 'company-logo'
    )
      a(
        href="/"
      ) Tisko Printing
    div.contact-info
      a(
        href='/contact-us'
        ) Contact Us
    - logged = isLogged
    nav.user-info(
      class=(logged?'signed':'unsigned')
    )
      if logged
        #user-cart.user-info-item
          a.cart-nav(
            href='/checkout'
            )
            span Cart
        #user-account.user-info-item
          a.account-nav(
            href='/account'
            ) My Account
        #user-signout.user-info-item
          a.signgout-nav(
            href='/signout'
            ) Logout
      else
        div#user-cart.user-info-item
          a.cart-nav(
            href='/checkout'
            )
            span Cart
        #user-signin.user-info-item
          a.login-nav(
            href='/login'
            ) Login
        #user-signup.user-info-item
          a.signup-nav(
            href='/signup'
            ) Register
