nav#top-nav.top-nav(
  role="navigation"
  )
  ul.menu-options
    if navConfig
      each top_option in navConfig
        if top_option.display
          - has_children = top_option.subElements.length > 0
          li(
            id= top_option.id
            )
            a.top-nav-link(
              href=top_option.url
              id= top_option.anchorId
              role= 'menuitem'
              aria-owns= (has_children ? top_option.anchorId + '-nav' : '')
            )= top_option.displayText
              if has_children
                .icon-down-arrow.menu-pointer
            - sub_elements = top_option.subElements
            if has_children
              nav.sub-nav(
                id= top_option.anchorId + '-nav'
                role="menu"
                aria-labelledby= top_option.anchorId
                )
                ul.submenu-options
                  each child_option in sub_elements
                    if child_option.display
                      li
                        a.sub-nav-links(
                          href= child_option.url
                          id= child_option.id
                          class=(child_option.id == navId ? 'selected' : '')
                        )= child_option.displayText
