nav#top-nav.top-nav(
  role="navigation"
  )
  ul.menu-options
    if origConfig
      - tabIndex = 0
      each top_option in origConfig
        if top_option.display
          - has_children = top_option.subElements.length > 0
          li
            a.top-nav-link(
              href=top_option.url
              id= top_option.anchorId
              role= 'menuitem'
              aria-owns= (has_children ? top_option.anchorId + '-nav' : false)
              aria-haspopup= (has_children ? 'true' : false)
              tabindex = 0
            )= top_option.displayText
            - tabIndex = tabIndex + 1
            - sub_elements = top_option.subElements
            if sub_elements.length > 0
              .inner-menu
                nav.sub-nav(
                  id= top_option.anchorId + '-nav'
                  role="menu"
                  aria-labelledby= top_option.anchorId
                  )
                  .inner-menu-content
                    ul.submenu-options.col-2
                      li Some story
                    ul.submenu-options.col-1
                      each child_option in sub_elements
                        if child_option.display
                          li
                            a.sub-nav-links(
                              href= child_option.url
                              id= child_option.id
                              class=(child_option.id == navId ? 'selected' : false)
                            )= child_option.displayText
                    .submenu-picture
                      a(href='/services')
                        img(src='/assets/menu_picture.jpg')
