form
  fieldset
    #email-input.field
      label(
        for='userid'
        ) Email Id
      input#userid-value(
        name='userid'
        placeholder='youremail@gmail.com'
        required
        type='email'
        )
    .session-button
      input(
        type='button'
        value='Submit'
        )
