#service-body.body.reverse
  .left-panel
    nav#service-item
      ul
        li.visiting-cards-nav#visiting-cards-nav(
          data-link='l-2-1'
          )
          a(
            href='#'
          ) Visiting Cards
            span.menu-pointer
        li.stationary-nav#stationary-nav(
          data-link='l-2-2'
          )
          a(
            href='#'
          ) Stationary Items
            span.menu-pointer
        li.brouchers-nav#brouchers-nav(
          data-link='l-2-3'
          )
          a(
            href='#'
            ) Brouchers
              span.menu-pointer
    nav#move-to-top
      .up-arrow(
        title='Move To Top'
        )
        .arrow-text Top
  .right-panel
    #main-heading.sub-section(
      class=visible_section=='heading' ? 'show' : 'hide'
      )
      include ./heading
    #visiting-card.sub-section(
      class=visible_section=='l-2-1' ? 'show' : 'hide'
      )
      include ./visiting_cards
    #stationary.sub-section(
      class=visible_section=='l-2-2' ? 'show' : 'hide'
      )
      include ./stationaries
    #broucher.sub-section(
      class=visible_section=='l-2-3' ? 'show' : 'hide'
      )
      include ./brouchers
