html
  head
    title= 'Tisko Printing Services'
    link(
      rel='icon'
      href='/assets/header.png'
      type='image/png'
      )
    link(
      rel='stylesheet'
      href='/assets/main.css'
      type='text/css'
    )
    script().
      window.payload={"title": 'My Title'};
    link(
      rel='prefetch'
      href='/assets/slide_image1.jpg'
      )
    link(
      rel='prefetch'
      href='/assets/slide_image2.jpg'
      )
    link(
      rel='prefetch'
      href='https://fb.me/react-15.2.1.js'
      )
    link(
      rel='prefetch'
      href='https://fb.me/react-dom-15.2.1.js'
      )
  body
    .body-contents
      .c-header#c-header
        include ../header/main
      .contents#main-contents
        section.main-section
          include ./contents
      .c-footer#c-footer
        include ../footer/main

  script(
    src='/assets/main.js'
  )
