extends ../base/main.pug

block top-links
  link(
    rel='preload'
    href='/assets/slide_image1.jpg'
    )

block bottom-links
  link(
    rel='prefetch'
    href='/assets/slide_image2.jpg'
    )
  link(
    rel='prefetch'
    href='/assets/slide_image3.jpg'
    )

block contents
  .main-contents#main-contents
    section
      include ./contents

block footer
  .c-footer#c-footer
    include ../footer/main
