html
  head
    title= 'Contact Us'
    link(
      rel='icon'
      href='/assets/header.png'
      type='image/png'
      )
    link(
      rel='stylesheet'
      href='/assets/session.css'
      type='text/css'
    )
  body
    .body-contents
      .header
        include ../header_header.pug
      .contents
        include ./contact_us_contents.pug

  script(
    src='/assets/session.js'
  )
