form
  fieldset
    .name-input.field
      label(
        for='username'
        ) Full Name
      input#username-value(
        name='username'
        placeholder=''
        required
        type='text'
        )
    .email-input.field
      label(
        for='userid'
        ) Email Id
      input#userid-value(
        name='userid'
        placeholder='youremail@gmail.com'
        required
        type='email'
        )
    .phone-input.field
      label(
        for='telephone'
        ) Mobile Number
      input#telephone-value(
        name='telephone'
        placeholder=''
        required
        type='tel'
        )
    .message-type.field
      label(
        for='query-type'
        ) Query Type
      select(
        name='query-type'
        )
        option General Enquiry
        option Related to your order
    .contact-message.field
      label(
        for='query'
        ) Your Message
      textarea(
        name='query'
        )
    .button
      input(
        type='submit'
        name='submit'
        value='Submit'
        )
