form(
  method='post'
  action= refUrl
  )
  fieldset
    .large-field
      label(
        for='username'
        ) Full Name
      input#username-value(
        name='username'
        placeholder=''
        required
        type='text'
        )
    .large-field
      label(
        for='userid'
        ) Email Id
      input#userid-value(
        name='userid'
        placeholder='example@domain.com'
        required
        type='email'
        )
    .field
      label(
        for='telephone'
        ) Mobile Number
      input#telephone-value(
        name='telephone'
        placeholder=''
        required
        type='tel'
        )
    .large-field
      label(
        for='query_type'
        ) Query Type
      select(
        name='query_type'
        )
        option(
          value='query'
          ) General Enquiry
        option Related to your order
    .large-field
      label(
        for='query'
        ) Your Message
      textarea(
        name='query'
        )
    .button
      input(
        type='submit'
        value='Send Message'
        )
