html
  head
    title= 'Contact Us'
    link(
      rel='icon'
      href='/assets/header.png'
      type='image/png'
      )
    link(
      rel='stylesheet'
      href='/assets/contact.css'
      type='text/css'
    )
  body
    .body-contents
      .header
        include ../header/header_header
      .contents
        include ./contact_us_contents

  //- script(
  //-   src='https://fb.me/react-15.2.1.js'
  //- )
  //- script(
  //-   src='https://fb.me/react-dom-15.2.1.js'
  //- )
  script(
    src='/assets/contact.js'
  )
