html
  head
    title= 'Contact Us'
    link(
      rel='icon'
      href='/assets/header.png'
      type='image/png'
      )
    link(
      rel='stylesheet'
      href='/assets/contact.css'
      type='text/css'
    )
  body
    .body-contents
      .c-header#c-header
        include ../header/main
      .contents#main-contents
        section.main-section
          include ./contents
      .c-footer#c-footer
        include ../footer/main

  script(
    src='/assets/session.js'
  )
