html
  head
    title= 'Keshari Printing Services'
    link(
      rel='icon'
      href='/assets/header.png'
      type='image/png'
      )
    link(
      rel='stylesheet'
      href='/assets/services.css'
      type='text/css'
    )
  body
    .body-contents
      .promotion-header
        include ../promotion_header/main
      .header
        header
          include ../header/main
      .contents
        section#main-content
          include ./contents
      footer
        include ../footer/main

  script(
    src='/assets/products.js'
  )
