html
  head
    title= 'Keshari Printing Services'
    link(
      rel='icon'
      href='/assets/header.png'
      type='image/png'
      )
    link(
      rel='stylesheet'
      href='/assets/order.css'
      type='text/css'
    )
  body
    .body-contents
      .header
        header
          include ../header/main
      .contents#main-contents
        | !{reactHTML}
      .c-footer#c-footer
        include ../footer/main
  script.
    window.__PRELOADED_STATE__= !{JSON.stringify(preloadedState)};
  script(
    src='/assets/react.js'
  )
  script(
    src='/assets/react-dom.js'
  )
  script(
    src='/assets/order.js'
  )
