html
  head
    title= 'Keshari Printing Services'
    link(
      rel='icon'
      href='/assets/header.png'
      type='image/png'
      )
    link(
      rel='stylesheet'
      href='/assets/main.css'
      type='text/css'
    )
  body
    .body-contents
      .header
        header
          include ../header/main
      .contents
        section
          include ./contents
      .c-footer#c-footer
        include ../footer/main


  script(
    src='https://fb.me/react-15.2.1.js'
  )
  script(
    src='https://fb.me/react-dom-15.2.1.js'
  )
  script(
    src='/assets/order.js'
  )
